
 <% layout ("/layouts/boilerplate"); %>
<body>
    
<h1>Edit Page</h1>

   <div>
    <h1>Edit Message for ID: <%=chat.id%></h1>
   
    <p>From:  <b><%=chat.from %></b> &nbsp;&nbsp; To:  <b> <%=chat.to %></b> </p>
    <form id="editForm" action="/allChats/<%=chat.id%>?_method=PUT", method="POST" >
       
        <label for="msg" >Message: </label>
        <textarea name="msg" id="msg" class="form-control" ><%=chat.msg%></textarea> <br>
        
        <button type="button" onclick="confirmUpdate(event)"  class="btn btn-primary">Edit</button>
    </form>
   </div>
    

   <!-- Fancy popup with sweetalert2  -->
    <script>
        function confirmUpdate(event){
            event.preventDefault();  // stops default button behaviour
            //pop-up to check msg length
            const msg=document.getElementById("msg").value.trim();
            const form= document.getElementById("editForm");

            if (msg.length>50){
                Swal.fire({
                    title:"Message Too Long!",
                    text:"Your message exceeds 50 character. Please shorten it.",
                    icon:"error",
                    confirmButtonColor: "#3085d6",
            });
            return; //stops execution
            }
            

            //Pop-up to show msg updated
            Swal.fire({
                title: "Update Message?",
                text:"Do you really want to save the changes?",
                icon:"question",
                showCancelButton: true,
                confirmButtonColor:"#2c7cde",
                cancelButtonColor:"#d6303b",
                confirmButtonText:"Yes Update it!"
            })
            .then((result)=>{
                if(result.isConfirmed){
                    form.submit(); // submit the form 
                    Swal.fire({
                        title:"Updated!",
                        text:"Your message has been updated.",
                        icon:"success"

                    });
                }
            });
        }
    </script>
</body>
